.gallery {
  direction: rtl;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3px;
}

.loading-icon {
  margin-top: 10%;
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
